.a {
    background-color: white;
    width : 200px;
    border-radius: 9px;
    color: black;
   
}
.b{
    background-color: white;
    width : 300px;
    border-radius: 9px;
    color: black;   
}
.c{
    background-color: white;
    width : 300px;
    border-radius: 9px;
    color: black;
}
.d{
    background-color: white;
    width : 300px;
    border-radius: 9px;
    color: black;    
}
.e{
    background-color: white;
    width : 300px;
    border-radius: 9px;
    color: black;   
}
.f{
    background-color: white;
    width : 300px;
    border-radius: 9px;
    color: black;

}
.g{
    width: 150px;
    background-color: aquamarine;
}
.h{
    width: 150px;
    background-color: aquamarine;
}
.i{
    width: 150px;
    background-color: aquamarine;
}
.j{
    width: 150px;
    background-color: aquamarine;
}

.z{
    margin-top: 20px;
    /* padding: 30px; */
}
.k{
    background-color: black;
    width : 150px;
    border-radius: 9px;
}
.m{
    background-color: black;
    width : 500px;
    border-radius: 9px;
}
.n{
    color: plum;
}